<div class="oe_wrapper">
	<ul id="oe_menu" class="oe_menu">
		<li><a href="" class="blend">Friends</a>
				<ul class="shadow">
					<li class="oe_heading">Current</li>
					<li><a href="#">Inner Circle</a></li>
					<li><a href="#">Classmates</a></li>
					<li><a href="#">Co-workers</a></li>
					<li><a href="#">Acquaintances</a></li>
					<li><a href="#">Family</a></li>
				</ul>
		</li>
	</ul>
</div>
