<div class="oe_wrapper">
	<ul id="oe_menu1" class="oe_menu">
		<li><a href="" class="blend ">Messages</a>
				<ul class="shadow">
					<li><a href="#">All</a></li>
					<li><a href="#">SMS</a></li>
					<li><a href="#">Email</a></li>
					<li><a href="#">Tweets</a></li>
					<li><a href="#">Chat</a></li>
				</ul>
		</li>
	</ul>
</div>
