<div class="oe_wrapper">
	<ul id="oe_menu3" class="oe_menu">
		<li><a href="" class="blend">Pictures</a>
				<ul class="shadow">
					<li><a href="#">Friends</a></li>
					<li><a href="#">Family</a></li>
					<li><a href="#">Vision Board</a></li>
					<li><a href="#">Posts</a></li>
					<li><a href="#">Recommended</a></li>
				</ul>
		</li>
	</ul>
</div>
