<div class="user fluid shadow">
<%= image_tag user.avatar.url(:small)%>
  <%= link_to user.name, user %> |
  	<%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                              :title => "Delete #{user.first_name}" %>
</div>