<h1>My Messages</h1>	
<div id="messages_links">
	<div id="messages_add"><%= link_to 'New Message', new_message_path %></div>
</div>
<div id="messages_table">
	<%= render 'messages/received_messages_list' %>
	<%= render 'messages/sent_messages_list' %>
</div>