<a id="bgndVideo" href="http://www.youtube.com/watch?v=JwQZQygg3Lk" class="movie {opacity:1, isBgndMovie:{width:'window', mute:false}}">Bill Viola</a>
<div class="shadow fluid about">
    <h1>About OOHLive</h1>
        <h3>OOHLive is the next generation social media platform.  Able to deliver streaming video meant for your taste. DISCOVER and EXPLORE your interests full-heartedly.  It will connect you with successful people as a way of mentorship and guidance to your goals.  It also has the most intuitive messaging system out there, combining SMS, Email, Tweets, Chat on one clean and fluid User Interface.<br/><br/>
            Welcome to OOHLive.  Enjoy the Journey!<br/>
        </h3>
</div>