<div id="accordion">
    <h2 class="method fluid shadow blend"><a href= "#">
    	Streaming Video
    </a></h2>
    	<div class="method fluid shadow">
    	    <p>
                Music videos, movie clips and documentaries chosen for you entertainment and inspiration.. Videos meant for your taste.
    	    </p>
    	</div>    
    <h2 class="method fluid shadow blend"><a href= "#">
    	Fluid Messaging
    </a></h2>
    	<div class="method fluid shadow">
    	    <p>
                SMS, Chat, Tweets and Email merging for real time convenient communication
    	    </p>
    	</div>    
    <h2 class="method fluid shadow blend"><a href= "#">
    	Explore Your Interests
    </a></h2>
    	<div class="method fluid shadow">
    	    <p>
    	        Create your path, and set your interests, with interactive games and goal building apps.
    	    </p>
    	</div>    
    <h2 class="method fluid shadow blend"><a href= "#">
    	Intuitive User Interface
    </a></h2>
    	<div class="method fluid shadow">
    	    <p>
    	        Forms and shapes to your habits. Fluid Sharing, a beautiful interface, that includes the important aspects of your web-life in one screen for easy play
    	    </p>
    	</div>    
</div>

